body {
    margin: 0 auto;
    padding: 0;
    font: normal 16px/1.5 'Noto Sans', sans-serif;
}

/* Link style */
a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

a:hover {
    color: #E4CB94;
}

/* Styles for header's child elements */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;

    width: 100%;
    min-height: 100vh;

    background: url("../img/cover.jpg") no-repeat center bottom;
    background-size: cover;

}

    .menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        margin: 0 auto;
        padding: 1rem 1rem;

        max-width: 75rem;
        width: 100%;
        height: 4rem;
        background-color: #ffffff;
    }

        .menu__inner {
            display: none;
            flex: 1;
        }


        .menu__logo {
            display: flex;
            justify-content: flex-start;
            flex: 1;
        }
            .menu__logo-img {
                width: 2rem;
                height: auto;
            }
            .menu__logo-text {
                font-size: 1.2rem;
                font-weight: 700;
                margin-left: 0.5rem;

            }

        .menu__items {
            display: flex;
            justify-content: space-around;
            flex: 2;
        }

        .menu__button {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }
            .menu__button-login {
                color: #E4CB94;
                font-weight: 700;
                text-decoration: none;
            }

                @media screen and (max-width: 1023px) {
                    .menu__logo-img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    .menu__logo-text {
                        font-size: 1rem;
                    }

                    .menu__items {
                        font-size: 0.875rem;
                    }

                    .menu__button-login {
                        font-size: 0.875rem;
                    }
                }

                @media screen and (max-width: 767px){
                    .menu__inner {
                        display: block;
                    }

                    .menu__logo {
                        justify-content: center;
                    }
                    .menu__items {
                        display: none;
                    }

                    .menu__items.mobile {
                        display: flex;
                        flex-flow: row wrap;

                        position: absolute;
                        top: 4rem;
                        left: 0;

                        width: 100%;
                        min-height: 4rem;
                        padding: 1rem;
                        background-color: #E4CB94;

                        font-size: 1rem;
                        font-weight: 700;
                    }
                        .menu__items-item {
                            color: #ffffff;
                            margin: 0.5rem;
                        }

                }

                @media screen and (max-width: 497px) {
                    .menu__items.mobile {
                        flex-flow: column;
                    }
                }




    .title {
        display: block;
        margin: 0 auto;
        max-width: 75rem;
        width: 100%;
    }
        .title__main {
            font-size: 8rem;
            font-weight: 700;
            text-align: center;
            color: #ffffff;
        }

        .title__description {
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
            color: #ffffff;
        }

            @media screen and (max-width: 1023px) {
                .title__main {
                    font-size: 6rem;
                }
                .title__description {
                    font-size: 1.2rem;
                }
            }

            @media screen and (max-width: 767px) {
                .title__main {
                    font-size: 4.5rem;
                }
                .title__description {
                    font-size: 1rem;
                }
            }

            @media screen and (max-width: 479px){
                .title__main {
                    font-size: 3rem;
                }
            }

    .info {
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: space-between;

        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        }

        .info__button {
            background-color: #E4CB94;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            outline: none;
            font-weight: 700;

            padding: 0.5rem 4rem;

            cursor: pointer;
        }

        .info__details {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            max-width: 18rem;
            width: 100%;

            padding: 0.5rem 0;
            margin-bottom: 1rem;
        }

            .info__details-item {
                font-weight: 700;
                color: #ffffff;
            }

            .info__details-subtitle {
                font-size: 0.75rem;
                font-weight: 400;
            }

                @media screen and (max-width: 1023px){
                    .info__button {
                        padding: 1rem 3rem;
                    }
                    .info__details {
                        padding: 0.5rem;
                    }
                }

                @media screen and (max-width: 768px){
                    .info__button {
                        font-size: 0.875rem;
                    }
                    .info__details-subtitle {
                        font-size: 0.5rem;
                    }
                    .info__details-item {
                        font-size: 0.875rem;
                    }
                }

                @media screen and (max-width: 500px){
                    .info {
                        justify-content: center;
                    }
                    .info__button {
                        width: 50%;
                        font-size: 0.8rem;
                    }
                    .info__details {
                        display: none;
                    }
                }

.article {
    display: block;
    margin: 0 auto;
    max-width: 75rem;
    width: 100%;
    padding: 8rem 0 0;
}

    .column {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

        .column__text {
            width: 50%;
            padding: 0 1.5rem 0 2rem;
        }
            .column__text-title {
                font-size: 3rem;
                font-weight: 600;
                line-height: 1.1;
                color: #333333;
                margin: 2rem 0;
            }
            .column__text-paragraph {
                font-size: 1.125rem;
                color: darkgray;
                width: 90%;
            }

        .column__image {
            width: 50%;
            padding: 0 2rem 0 1.5rem;
        }

            .column__image-img {
                width: 100%;
                margin: 2rem 0;
            }

        .column__arrows {
            align-self: flex-end;
        }
            .column__arrows-arrow {
                width: 2rem;
                margin: 0 2rem 0 0.5rem;
            }

                @media screen and (max-width: 1023px){
                    .article {
                        padding: 4rem 0 0;
                    }

                    .column__text-title {
                        font-size: 2.25rem;
                    }

                    .column__text-paragraph {
                        font-size: 1rem;
                    }
                }

                @media screen and (max-width: 767px){
                    .column {
                        flex-flow: row wrap;
                    }

                    .column__text {
                        width: 100%;
                    }

                    .column__text-title {
                        margin: 1rem 0;
                        max-width: 70%;
                        padding-bottom: 1rem;
                    }

                    .column__text-paragraph {
                        max-width: 60%;
                        padding-bottom: 2rem;
                    }

                    .column__image {
                        width: 100%;
                    }

                    .column__image-img {
                        max-width: 80%;
                    }

                    .column__arrows {
                        display: none;
                    }
                }

                @media screen and (max-width: 478px){
                    .column__text-title {
                        font-size: 1.5rem;
                        line-height: 1.3;
                    }
                    .column__text-paragraph {
                        font-size: 0.875rem;
                        max-width: 100%;
                    }

                    .column__image-img {
                        max-width: 100%;
                    }
                }

    .headline {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 0 2rem;
    }

        .headline__title {
            max-width: 100%;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1;
            color: #333333;
            margin: 1rem 0;
        }

        .headline__paragraph {
            max-width: 60%;
            margin: 0 auto;
            font-size: 1.125rem;
            color: darkgray;
        }

        .headline__button {
            max-width: 100%;
            margin: 2rem 0;

            text-decoration: none;
            outline: none;
            font-weight: 700;

            padding: 1rem 4rem;

            background-color: #E4CB94;
            color: white;
        }

            @media screen and (max-width: 1023px) {
                .headline__title {
                    font-size: 3.25rem;
                }

                .headline__paragraph {
                    font-size: 1rem;
                }
            }

            @media screen and (max-width: 767px){
                .headline__title {
                    font-size: 3rem;
                }

            }

            @media screen and (max-width: 478px){
                .headline__title {
                    font-size: 2.5rem;
                }

                .headline__paragraph {
                    max-width: 100%;
                    font-size: 0.825rem;
                }
            }

.full {
    display: block;
    padding-top: 4rem;

}
    .full__image {
        display: block;
        max-width: 100%;
        min-height: 70vh;

        background: url("../img/img2.jpg") no-repeat bottom center;
        background-size: cover;
    }


    .gallery {
        max-width: 75rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0 2rem 8rem;
    }

        .gallery_card {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 25%;
            min-height: 50vh;
            margin: 0 1rem;
        }

            .gallery_card.card1 {
                background: url("../img/card1.jpg") no-repeat center bottom;
                background-size: cover;
            }

            .gallery_card.card2 {
                background: url("../img/card2.jpg") no-repeat center bottom;
                background-size: cover;
            }

            .gallery_card.card3 {
                background: url("../img/card3.jpg") no-repeat center bottom;
                background-size: cover;
            }

            .gallery_card.card4 {
                background: url("../img/card4.jpg") no-repeat center bottom;
                background-size: cover;
            }

            .gallery_card-title {
                font-size: 1.5rem;
                font-weight: 700;
                color: #ffffff;
                text-align: center;

                margin: 2rem 1rem;
            }

            .gallery_card-button {
                opacity: 0;
                font-size: 1rem;
                font-weight: 700;
                color: #ffffff;
                background-color: #E4CB94;
                padding: 0.5rem 4rem;
                margin: 0 2rem 2rem;
            }

            .gallery_card:hover > .gallery_card-button {
                opacity: 1;
            }

