body {
    margin: 0 auto;
    padding: 0;
    font: normal 16px/1.5 'Noto Sans', sans-serif;
}

/* Link style */
a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

a:hover {
    color: #E4CB94;
}

/* Styles for header's child elements */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;

    width: 100%;
    min-height: 100vh;

    background: url("../img/cover.jpg") no-repeat center bottom;
    background-size: cover;

}

    .menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        margin: 0 auto;
        padding: 1rem 1rem;

        max-width: 75rem;
        width: 100%;
        height: 4rem;
        background-color: #ffffff;
    }

        .menu__inner {
            display: none;
            flex: 1;
        }


        .menu__logo {
            display: flex;
            justify-content: flex-start;
            flex: 1;
        }
            .menu__logo-img {
                width: 2rem;
                height: auto;
            }
            .menu__logo-text {
                font-size: 1.2rem;
                font-weight: 700;
                margin-left: 0.5rem;

            }

        .menu__items {
            display: flex;
            justify-content: space-around;
            flex: 2;
        }

        .menu__button {
            display: flex;
            justify-content: flex-end;
            flex: 1;
        }
            .menu__button-login {
                color: #E4CB94;
                font-weight: 700;
                text-decoration: none;
            }

                @media screen and (max-width: 1023px) {
                    .menu__logo-img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    .menu__logo-text {
                        font-size: 1rem;
                    }

                    .menu__items {
                        font-size: 0.875rem;
                    }

                    .menu__button-login {
                        font-size: 0.875rem;
                    }
                }

                @media screen and (max-width: 767px){
                    .menu__inner {
                        display: block;
                    }

                    .menu__logo {
                        justify-content: center;
                    }
                    .menu__items {
                        visibility: hidden;
                    }

                    .menu__items.mobile {
                        visibility: visible;

                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;

                        margin: 0 auto;
                        padding: 1rem 1rem;

                        max-width: 75rem;
                        width: 100%;
                        height: 4rem;
                        background-color: #E4CB94;

                        font-size: 0.875rem;
                        font-weight: 700;
                    }

                }


    .title {
        display: block;
        margin: 0 auto;
        max-width: 75rem;
        width: 100%;
    }
        .title__main {
            font-size: 8rem;
            font-weight: 700;
            text-align: center;
            color: #ffffff;
        }

        .title__description {
            font-size: 1.5rem;
            font-weight: 400;
            text-align: center;
            color: #ffffff;
        }

            @media screen and (max-width: 1023px) {
                .title__main {
                    font-size: 6rem;
                }
                .title__description {
                    font-size: 1.2rem;
                }
            }

            @media screen and (max-width: 767px) {
                .title__main {
                    font-size: 4.5rem;
                }
                .title__description {
                    font-size: 1rem;
                }
            }

            @media screen and (max-width: 479px){
                .title__main {
                    font-size: 3rem;
                }
            }

    .info {
        display: flex;
        flex-flow: row wrap-reverse;
        justify-content: space-between;

        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        }

        .info__button {
            background-color: #E4CB94;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            outline: none;
            font-weight: 700;

            padding: 0.5rem 4rem;

            cursor: pointer;
        }

        .info__details {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            max-width: 18rem;
            width: 100%;

            padding: 0.5rem 0;
            margin-bottom: 1rem;
        }

            .info__details-item {
                font-weight: 700;
                color: #ffffff;
            }

            .info__details-subtitle {
                font-size: 0.75rem;
                font-weight: 400;
            }

                @media screen and (max-width: 1023px){
                    .info__button {
                        padding: 1rem 3rem;
                    }
                    .info__details {
                        padding: 0.5rem;
                    }
                }

                @media screen and (max-width: 768px){
                    .info__button {
                        font-size: 0.875rem;
                    }
                    .info__details-subtitle {
                        font-size: 0.5rem;
                    }
                    .info__details-item {
                        font-size: 0.875rem;
                    }
                }

                @media screen and (max-width: 500px){
                    .info {
                        justify-content: center;
                    }
                    .info__button {
                        width: 50%;
                        font-size: 0.8rem;
                    }
                    .info__details {
                        display: none;
                    }
                }


